*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: auto;
    width: 1366px;
    color: #FFFFFF;
    background-color: #100E0E;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 73px;
    padding-left: 54px;
}
ins{
    text-decoration: none;
}
.container_body{
    display: inline-block;
    vertical-align: top;
}
.container_body .hat{
    width: 658px;
    margin-bottom: 172px;
}
.container_body .hat b{
    font-size: 24px;
    color: #000;
    background-color: #FFFFFF;
    font-weight: 400;
    margin-right: 31px;
    padding: 10px 7px;
    float: left;
}
.container_body .hat ins{
    width: 336px;
    font-size: 15px;
    display: block;
    padding-top: 8px;
    color: #FFF9F9;
}
.go{
    clear: both;
    padding-left: 33px;
    padding-bottom: 47px;
}
.go h1{
    font-size: 24px;
    color: #FFF8F8;
    font-weight: 400;
}
.go strong{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 51px;
    color: #F5EAEA;
}
.go strong p{
    padding-left: 5px;
    color: #F5EAEA;
}
.container_body .button{
    padding-left: 33px;
    margin-bottom: 130px;
}
.container_body .button input{
    padding: 16px 11px;
    border: 0;
}
.container_body .button input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #FFF3F3;
    background-color: #F82E2E;
    transition: 0.4s;
}
.container_body .button input[type="submit"]:hover{
    color: #F82E2E;
    background-color: #FFF3F3;
    cursor: pointer;
}
.container_body .info{
    padding-left: 37px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFCFC;
}
.container_body .info ins{
    font-weight: 300;
}
.container_body .info{
    font-weight: 700;
}
.container_body .info img{
   display: inline-block;
   vertical-align: top;
   margin-right: 8px;
}
.container_body .info .wrapper{
    display: inline-block;
    vertical-align: top;
    margin-top: 29px;
    line-height: 21px;
}
.clear{
    clear: both;
}
.img{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}